= form_for @message, :url => {:controller => :messages, :action => :respond_create} do |f|
  - if @message.errors.any?
    #error_explanation
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this advert from being saved:
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.hidden_field :title, value: @respond_message.title
  %p
    = f.label :description
    = f.text_area :description, class: "form-control", placeholder: "123..."

  %p
    = f.hidden_field :receiver_id, value: @respond_message.sender_id
    = f.hidden_field :parent_id, value: @respond_message.id
    = f.hidden_field :sender_id, value: current_user.id
    = f.submit class: "btn btn-primary"
