%h1 Messeges
.table-responsive
  %table.table
    %tr.top
      %th.text-center #
      %th.text-center Title
      %th.text-center Description
      %th.text-center Sender
      %th.text-center Receiver
      %th.text-center Action
    - @messeges.each do |messege|
      %tr.list
        %td.text-center= messege.id
        %td.text-center= messege.title
        %td.text-center= messege.description
        %td.text-center= messege.sender_id
        %td.text-center= messege.receiver_id
        %td.text-center
          .btn-group
            =link_to "Show", messege_path(messege), class:'btn btn-info'
            =link_to "Edit", edit_user_registration_path(messege), class:'btn btn-default'
            =link_to "Destroy", messege, data: {method: :delete, confirm: "Jesteś pewien?"}, class:'btn btn-danger'

=link_to "New", new_messege_path, class:"btn btn-info"
