=form_for [@board,@post], :method => :put, remote: true do |f|
  %p
    = f.label :title, :title
    = f.text_field :title, class: "form-control"
  %p
    = f.label :description, :description
    = f.text_field :description, class: "form-control"

    = f.hidden_field :board_id, :value => @board.id, class: "form-control"
    = f.submit "Update"
