%h1
  =@board.title
#post_table
  = render @posts

%button.btn.btn-primary.btn-lg{"data-target" => "#New_post", "data-toggle" => "modal", :type => "button"}
  Nowy post

=link_to "Nowy post", new_board_post_path(@board), class:"btn btn-primary"
=link_to "Back", :back, class:"btn btn-info"

=form_for [@board,@post], remote: true do |f|
  #New_post.modal.fade{"aria-labelledby" => "my_modal_label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#my_modal_label.modal-title
            Nowy post
        .modal-body
          %p
            = f.label :title, :title
            = f.text_field :title, class: "form-control post-title"
          %p
            = f.label :description, :description
            = f.text_field :description, class: "form-control post-description"

            = f.hidden_field :board_id, :value => @board.id, class: "form-control post-board-id"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          = submit_tag "Create", class: "btn btn-primary"
