%html
  %head
    %title Forum
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          FOKI JEZE MOKRE DOLARY
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li=link_to "Forum", index_path
          %li
            =link_to users_path do
              %span.glyphicon.glyphicon-briefcase
              Konto
          %li=link_to "Heheszky"
          %li
            =link_to new_user_registration_path do
              %span.glyphicon.glyphicon-user
              Zarejestruj
          %li
            =link_to new_user_session_path do
              %span.glyphicon.glyphicon-log-in
              Zaloguj
  .container
    -flash.each do |key, value|
      %div{:class => "alert alert-#{key}" }= value
    = yield
  .footer
    %hr
      %p Za Kabone z prodewenta @ Created by xG & Powered by Ruby <3
